{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <div class = "container-fluid">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <div class="form-group"><input name="file1" type="file"></div>
            <div class="form-group"><input name="file2" type="file"></div>
            <div class="form-group"><input name="algorithm" type="radio" value="lines">Compare lines</div>
            <div class="form-group"><input name="algorithm" type="radio" value="sentences">Compare sentences</div>
            <div class="form-group"><input name= "algorithm" type="radio" value="substrings">Compare substrings</div>
            <div class="form-group"><input name= "length" type="number"></div>
            <div class="row"><button type = "submit">compare</button></div>
        </form>
        </div>
    </div>

{% endblock %}
